@page
@inject IWebHostEnvironment _environment;
@using Microsoft.Extensions.Hosting
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
    <br/>
</p>

@if (_environment.IsEnvironment("Local"))
{
    <a href="@ViewData["CallbackUrl"]">Reset</a>
}

